/*Global Edits*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font: 400 18px/1.5 "Roboto", sans-serif;
}

li, a{
    display: flex;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

p{
    font-size: 18px;
}

/*root container to fit web page margins--add this class to outermost container for each section only*/
.sectionwrapper{
    width: 80%;
    margin: 0 auto;
}

/*top section*/
.top{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

    /*justify-content: space-around;*/
}

#header{
    margin-top: .5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navlink{
    text-decoration: none;
    color: #F9FAF8;
    padding-right: 1rem;
}

/*hero parent*/
#hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/*hero content*/
.left{
    display: flex;
    flex-direction: column;
    flex: .5;
}

.right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.heroimg{
    width: 80%;
    height: 400px;
    background-color: white;
}

/*hero content text*/
.heromaintext{
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
}

.herotext{
    font-size: 1rem;
    max-width: 650px;
}

.herobutton{
    border: none;
    background-color: #3882F6;
    width: 6.75rem;
    height: 1.75rem;
    border-radius: 7px;
    color: white;
}

.headerlogo{
    color: #F9FAF8;
}


